---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import TrustBar from "../components/TrustBar.astro";
import TechSection from "../components/TechSection.astro";
import Stats from "../components/Stats.astro";
import Nosotros from "../components/Nosotros.astro";
import Projects from "../components/Projects.astro";
import Articles from "../components/Articles.astro";
import CtaFinal from "../components/CtaFinal.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
  <Header />
  <main>
    <Hero />
    <TrustBar />
    <TechSection />
    <Stats />
    <Nosotros />
    <Projects />
    <Articles />
    <CtaFinal />
  </main>
  <Footer />
</Layout>
